<div class="">
    {{ if(it.renderType) { }}
    <div class="row">
        <div class="col-xs-12">
            <label class="control-label">Select field type</label>
                <select name="ftype" id="ftype" class="pull-left form-control">
                    <option value="" selected></option>
                    <option value="email">E-mail</option>
                    <option value="textarea">Text area</option>
                    <option value="input">Text input</option>
                    <option value="checkbox">Checkbox</option>
                    <option value="radio">Radio</option>
                    <option value="select">Dropdown</option>
                    <option value="calendar">Calendar</option>
                    <option value="submit">Submit button</option>
                </select>
        </div>
    </div>
    {{ } else { }}
    {{ for(var prop in it.settings) {
        switch (prop) {
            case 'id': }}
                <input type="hidden" name="id" value="{{=it.values[prop]||it.settings[prop] || ''}}" />
                {{ break;
            case 'label': }}
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label class="control-label">{{=prop}}:</label><input type="text" name="{{=prop}}" value="{{=it.values[prop]||it.settings[prop] || ''}}" class="form-control" {{?it.settings[prop]['required']}}data-validate="required"{{?}}/>
                    </div>
                </div>
                {{ break;
            case 'placeholder': }}
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label class="control-label">{{=prop}}:</label><input type="text" name="{{=prop}}" value="{{=it.values[prop]||it.settings[prop]['value'] || ''}}" class="form-control"  {{?it.settings[prop]['required']}}data-validate="required"{{?}}/>
                    </div>
                </div>
                {{ break;
            case 'required': }}
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label class="control-label">{{=prop}}:<input type="checkbox" name="{{=prop}}" value="1" class="form-control" {{?it.values[prop]||it.settings[prop]['value']}}checked=checked{{?}} {{?it.settings[prop].edit==false}}disabled{{?}}/></label>
                    </div>
                </div>
                {{ break;
            case 'validate': }}
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label class="control-label">{{=prop}}:</label>
                        <div class="row duplicate hidden">
                            <div class="col-xs-7">
                                <input type="hidden" value="" class="data" data-name="{{=prop}}"/>
                                <select class="form-control select pull-left">
                                    <option value="" selected></option>
                                    {{~['email','url','number','date','digits','dateISO','creditcard'] :value:index}}
                                    <option value="{{=value}}"}>{{=value}}</option>
                                    {{~}}
                                    {{~['min','max','minlength','maxlength','equalTo'] :value:index}}
                                    <option value="{{=value}}" data-extend="1">{{=value}}</option>
                                    {{~}}
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <input type="text" value="" class="form-control extend" disabled/>
                            </div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-orange btn-duplicate-remove pull-right"><i class="entypo-cancel"></i></button>
                            </div>
                        </div>
                        {{~(typeof it.values[prop] == 'string') ? [it.values[prop]] : it.values[prop] || ((typeof it.settings[prop]['value'] == 'string')?[it.settings[prop]['value']]:it.settings[prop]['value']) || [''] :itval_str}}
                        {{ itval = itval_str.split(/\[|\]/g); }}
                        <div class="row duplicate duplicated">
                            <div class="col-xs-7">
                            <input type="hidden" value="{{=itval_str}}" class="data" name="{{=prop}}" />
                            <select class="form-control select pull-left">
                                <option value=""></option>
                                {{~['email','url','number','date','digits','dateISO','creditcard'] :value:index}}
                                    <option value="{{=value}}" {{?value==itval[0]}}SELECTED{{?}}>{{=value}}</option>
                                {{~}}
                                {{~['min','max','minlength','maxlength','equalTo'] :value:index}}
                                    <option value="{{=value}}" data-extend="1" {{?value==itval[0]}}SELECTED{{?}}>{{=value}}</option>
                                {{~}}
                            </select>
                            </div>
                            <div class="col-xs-3">
                                <input type="text" value="{{=itval[1]||''}}" class="form-control extend" {{?!itval[1]}}disabled{{?}}/>
                            </div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-orange btn-duplicate-remove pull-right"><i class="entypo-cancel"></i></button>
                            </div>
                        </div>
                        {{~}}
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-blue btn-duplicate-add pull-right"><i class="entypo-plus"></i></button>
                        </div>
                    </div>
                </div>
                {{ break;
            case 'option': }}
            <div class="row">
                <div class="form-group col-xs-12">
                    <label class="control-label">{{=prop}}:</label>
                    <div class="row duplicate hidden">
                        <div class="col-xs-7">
                            <input type="hidden" value="" class="data" data-name="{{=prop}}" />
                            <input type="text" class="form-control pull-left select" value="" data-extend="1"/>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" value="" class="form-control extend" disabled/>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-orange btn-duplicate-remove pull-right"><i class="entypo-cancel"></i></button>
                        </div>
                    </div>
                    {{~(typeof it.values[prop] == 'string') ? [it.values[prop]] : it.values[prop] || ((typeof it.settings[prop]['value'] == 'string')?[it.settings[prop]['value']]:it.settings[prop]['value']) || [''] :itval_str}}
                    {{ itval = itval_str.split(/\[|\]/g); }}
                    <div class="row duplicate duplicated">
                        <div class="col-xs-7">
                            <input type="hidden" value="{{=itval_str}}" class="data" name="{{=prop}}" />
                            <input type="text" class="form-control pull-left select" value="{{=itval[0]||''}}" data-extend="1"/>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" value="{{=itval[1]||''}}" class="form-control hidden extend" {{?!itval[1]}}disabled{{?}}/>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-orange btn-duplicate-remove pull-right"><i class="entypo-cancel"></i></button>
                        </div>
                    </div>
                    {{~}}
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-blue btn-duplicate-add pull-right"><i class="entypo-plus"></i></button>
                    </div>
                </div>
            </div>
            {{ break;
            case 'minHeight': }}
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label class="control-label">Min Height, px:</label>
                        <input type="text" name="{{=prop}}" value="{{=it.values[prop]||it.settings[prop]['value']}}" class="form-control" data-validate="number"/>
                    </div>
                </div>
                {{ break;
            case 'type':
                break;
            default: }}
                <div class="row">{{=prop}}</div>
        {{ };
    } }}
    {{ } }}
</div>